@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244,230,241;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 244,230,241;
    --background-end-rgb: 244,230,241;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #780022;
}

.svg-icon circle {
  stroke: #780022;
  stroke-width: 1;
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #5B001C;
  gap: 15px;
  font-size: 35px;
  margin: 100px 50px;
}

.pocetna{
  color: #C70C63;
  text-decoration: underline;
}

.icon{
  width: 7rem;
  height: 7rem;
}

@media only screen and (max-width: 768px) {
  .not-found {
    font-size: 25px;
    width: 65%;
    margin: 50px auto;
    text-align: center;
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }
}